.form {
    display: inline-block;
    width: 100%;
}

.form > .form-row {
    display: inline-block;
    width: 100%;
    margin-bottom: 30px;
    
}

.form > .form-row:last-of-type {
    margin-bottom: 0px;

}

.form > .form-row > label {
    display: inline-block;
    width: 100%;
    margin-bottom: 5px;
}

.form > .form-row > input {
    display: inline-block;
    width: 100%;
    font-size: 20px;
    line-height: 40px;
    border: none;
    border-bottom-color: 5px solid red;
}

.form > .form-row > input:focus {
    outline: 1px solid grey;
}


.form input::placeholder {
    color: rgb(160, 160, 160);
    font-style: italic;
}